<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="./js/vue-cdn@3.2.45.js"></script>
    <link rel="stylesheet" href="style.css">

    <title>Social Impact Club</title>

</head>

<body id="app">

    <div class="header">
        <img style="height: 100%;" src="./res/logo/logo-with-name.png">
    </div>


    <div class="main">


        <br>

        <!-- Welcome -->
        <div id="intro" class="container pos-relative">

            <!-- Absolute position random background shape. -->
            <div class="pos-absolute" style="right: 0; width: 400px; height: 400px; z-index: -1;">
                <svg width="393" height="431" xmlns="http://www.w3.org/2000/svg" data-name="Layer 1">
                    <path d="m169,28.8c111,25 218,108 193,182c-25,74 -180,271 -273,156c-93,-115 -31,-363 80,-338z"
                        fill="#fbd8f1" />
                </svg>
            </div>

            <div class="text-center">
                <h1 class="mg-t2 color-dpink font-size-small">WE ARE</h1>
                <h1 class="text-heading">
                    Social Impact Club
                </h1>
            </div>

            <div class="mg-t1 center gap-2">
                <img src="./res/images/undraw_positive-attitude_xx3v-modified.svg" style="width: 400px;">
                <div>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum ipsum mollitia tenetur
                        repellendus
                        consequuntur culpa exercitationem eveniet commodi odit sed!
                        <br><br>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates eum, officia natus
                        reprehende
                        rit iure impedit nobis, maxime porro voluptatibus nemo rem deserunt corrupti vel in totam
                        repudia
                        ndae eligendi. Officia maiores, pariatur voluptatibus dolor rem totam, veritatis nisi suscipit
                        qua
                        si ipsam illum harum adipisci illo est saepe incidunt eos voluptas commodi?
                    </p>
                </div>
            </div>
        </div>

        <div class="container mg-t2">
            <!-- Statistics. -->
            <div id="stats" class="pos-relative text-center mg-t2 flex fl-ac fl-jsb">
                <div>
                    <h1>132</h1>
                    <p class="color-gray">Destinations</p>
                </div>
                <div class="vertical-line"></div>
                <div>
                    <h1>5000+</h1>
                    <p class="color-gray">Sponsors</p>
                </div>
                <div class="vertical-line"></div>
                <div>
                    <h1>85%</h1>
                    <p class="color-gray">Goals Achieved</p>
                </div>
                <div class="vertical-line"></div>
                <div>
                    <h1>185</h1>
                    <p class="color-gray">Countries</p>
                </div>
            </div>

        </div>

    </div>


    <!-- No Scroll Image -->
    <div id="no-scroll-image" class="mg-t3">
        <div class="no-scroll-image-overlay"></div>
        <div class="center" style="height: 100%; max-width: 1100px; margin: 0 auto;">
            <p style="color: white; z-index: 10; font-size: 20px;">
                Our Vision: <br><br>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur iusto mollitia cumque saepe
                tempora
                natus suscipit reiciendis officiis? Architecto, maiores est? Quisquam, esse fuga nobis vel molestiae
                deserunt
                excepturi voluptatem.
            </p>
        </div>
    </div>


    <!-- Past Events -->
    <div class="container mg-t3">

        <div class="text-center">
            <h1 class="mg-t2 color-dpink font-size-small">WE DID</h1>
            <h1 class="mg-b1 text-heading" style="color: var(--color-purple)">Past Events</h1>
        </div>

        <div id="event-cards" class="pos-relative grid grid-col-3 gap-2">
            <div v-for="(event, i) in events" :key="i" class="event-card" @click="openLink(event.link)">
                <div class="img-container">
                  <a :href="todo">
                    <img :src=" event.card_image || '' ">
                  </a>
                </div>
                <div class="event-details">
                  <a :href="todo" class="hover-underline">
                    <h1 class="font-size-medium mg-b0"> {{ event.name }} </h1>
                  </a>
                  <div class="mg-t0 mg-b0 flex fl-jsb">
                    <div class="flex fl-ac" style="color:var(--gray)">  
                      <div class="location-img pos-relative">
                        <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512">
                          <path d="M256 48c-79.5 0-144 61.39-144 137 0 87 96 224.87 131.25 272.49a15.77 15.77 0 0025.5 0C304 409.89 400 272.07 400 185c0-75.61-64.5-137-144-137z"
                                fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"/>
                          <circle cx="256" cy="192" r="48" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"/>
                        </svg>
                      </div>
                      <p class="color-gray font-weight-bolder"> {{ event.location }} </p>
                    </div>
                  </div>
                  <p class="event-info"> {{ event.description }} </p>
                </div>
              </div>
        </div>

    </div>


    <!-- Board Members -->
    <div class="container mg-t3">
        <div id="dots-bg" class="pos-absolute"></div>

        <div class="text-center">
            <h1 class="mg-t2 color-dpink font-size-small">THIS IS</h1>
            <h1 class="mg-b1 text-heading" style="color: var(--color-purple)">Our Board 2025</h1>
        </div>

        <div id="team-grid" class="grid grid-col-3 gap-2">
            <div v-once v-for="(member, i) in board_members" :key="member.name" class="team-card">
                <div class="flex fl-ac">
                    <div class="img-container">
                        <img :src="`../res/board/${member['image_name']}`">
                    </div>
                    <div>
                        <p class="job-title color-dpink">{{ member["job_title"] }}</p>
                        <h1 class="name color-purple"> {{ member["name"] }} </h1>
                    </div>
                </div>
                <br>
                <p class="about"> {{ member["about"] }} </p>
            </div>
        </div>
    </div>


    <!-- Our Sponsors. -->
    <div id="our-sponsors" class="mg-t3 mg-b3 container text-center">
        <h1>Our Sponsors</h1>
        <p class="mg-t1 mg-b1 color-gray">Thes people helped us a log by giving money ig.</p>
        <div id="sponsors-grid" class="grid grid-col-3 gap-2">
          <!-- Logos are dowwnloaded from https://worldvectorlogo.com/ -->
          <img src="./res/images/sponsors/google-cloud-3.svg">
          <img src="./res/images/sponsors/patchline.png">
          <img src="./res/images/sponsors/srilankan-airlines.svg">
          <img src="./res/images/sponsors/oxford-university-press-1.svg">
          <img src="./res/images/sponsors/microsoft-6.svg">
          <img src="./res/images/sponsors/tesla-9.svg">
        </div>
      </div>

    <br>
    <br>

    </div>

    <script src="./js/data.js"></script>
    <script src="./js/main.js"></script>
    <script>
        // Create a dots array background svg image.
        let dots = '<svg width="185" height="186" viewBox="0 0 185 186" ' +
            'fill="none" xmlns="http://www.w3.org/2000/svg">\n';
        for (let i = 0; i < 10; i++) {
            for (let j = 0; j < 10; j++) {
                dots += `  <circle cx="${j * 20 + 2}" cy="${i * 20 + 2}" r="2" fill="currentColor"></circle>\n`
            }
        }
        dots += '</svg>';
        $("#dots-bg").innerHTML = dots;
    </script>

</body>

</html>